/WebApplicationProductlicense/nbproject/private/
/WebApplicationProductlicense/build/
/JavaApplicationMySQLCodeGeneration/nbproject/private/
/WebApplicationProductlicense/dist/
/webproductlicense/ProductLicense/nbproject/private/
/webproductlicense/ProductLicense/build/
/webproductlicense/ProductLicense/dist/
/webproductlicense/XXXX/nbproject/private/
/webproductlicense/XXXX/build/