<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Wizard</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="robots" content="all,follow">
      <link href="/css/bootstrap.min.css" rel="stylesheet">
      <script src="/js/bootstrap.bundle.min.js"></script>
          <link href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" 
          rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <title>Bootstrap Datepicker</title>
   
  
     
   </head>
   <body>
      <!-- intro end-->
      <!-- navbar-->
      <header class="header">
     <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container">
               
               <div id="navbarSupportedContent" class="collapse navbar-collapse">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item"><a href="/" class="nav-link link-scroll">Active</a></li>
                     <li class="nav-item"><a href="inActiveContracts" class="nav-link link-scroll">Inactive </a></li>
                     <li class="nav-item"><a href="allContracts" class="nav-link link-scroll">All</a></li>
                  </ul>
               </div>
            </div>
         </nav>
      </header>
      <section class="page-section clearfix">
         <!-- IF CUSTOMER IS ANONYMOUS -->
         <div class="container" style="background-color: white;color:black;">
      
           <form action="#" 
                 th:action="@{/update/{id}(id=${contact.contactId})}" 
            th:object="${contact}" 
  method="post">
             <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input th:field="*{name}" type="text" class="form-control" id="name">
            </div>
               
            <div class="mb-3">
                <label for="name" class="form-label">Type</label>
                <select th:field="*{clientType}">
                    <option th:value="'Radio'" th:text="Radio"></option>
                     <option th:value="'TV'" th:text="TY"></option>
   
                </select>
               
            </div>
                <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input th:field="*{password}" id="password"  type="text" class="form-control">
                </div>
             <div class="mb-3">
                <label for="emailaddress" class="form-label">Email address</label>
             
                <input th:field="*{emailaddress}" id="emailaddress" type="email" class="form-control" aria-describedby="emailHelp">
               
            </div>
               
                 
            <div class="mb-3">
                <label>Select Start Date: </label>
                <input class="form-control" th:field="*{startDate}" id="startDate"
                  type="datetime-local"  />
            
            </div>
  

            <div class="mb-3">
             <label>Select End Date: </label>
         
                 <input class="form-control"  type="datetime-local" 
               th:field="*{endDate}" id="endDate">
           
        </div>

               
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
             
                <input th:field="*{emailaddress}" id="emailaddress" type="email" class="form-control" aria-describedby="emailHelp">
               
            </div>
         
            <div class="mb-3 form-check">
                <input th:field="*{active}" type="checkbox" class="form-check-input" id="active">
                <label class="form-check-label" for="exampleCheck1">Active</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
         </div>
      </section>
      <footer style="background-color: #111;">
         <div class="container">
            <div class="row copyright">
               <div class="col-md-6">
                  <p class="mb-md-0 text-center text-md-left">&copy;2025 The Guld Resource Group</p>
               </div>
               <div class="col-md-6">
                  <!-- Please do not remove the backlink to us. It is part of the licence conditions. Thanks for understanding :)-->
               </div>
            </div>
         </div>
      </footer>
     
   </body>
</html>
   
   
